/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-bio-block {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

// .bio-image-wrapper{
// 	display: flex; 
// 	gap: 1em; 
// }

.bio-image-wrapper{
	display: grid;
    justify-content: end;
    align-items: center;
}

.bio-image-list {
	position: relative;
    top: 0;
    right: 0;
    bottom: 0;
	overflow: hidden;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 33%);
	grid-column: 3;
    grid-row: 2;
}
//.bio-image-list{
	//display: flex;
	// flex-flow: column; 
	//flex-wrap: wrap;
	//gap: .5em; 
	// max-width: 725px;
	//position: relative;
	// border: 3px solid green;
	// height: 250px;
	// width: 170px; 
//}

@keyframes showHide{
    0%{
		opacity: 0; 
	}
	100%{
		opacity: 1; 
	}
}
 
.image-0 {
	opacity: 0; 
	animation: showHide 5s ease alternate infinite;
}

.image-1 {
	opacity: 0; 
	animation: showHide 5s 1s ease alternate infinite;
}

.image-2 {
	opacity: 0; 
	animation: showHide 5s 2s ease alternate infinite;
}

.image-3 {
	opacity: 0; 
	animation: showHide 5s 3s ease alternate infinite;
}

.image-4 {
	opacity: 0; 
	animation: showHide 5s 4s ease alternate infinite;
}

.image-5 {
	opacity: 0; 
	animation: showHide 5s 5s ease alternate infinite;
}

// .bio-image-list-two{
// 	display: flex;
// 	flex-flow: column; 
// 	flex-wrap: nowrap;
// 	gap: .5em; 
// 	max-width: 725px;
// 	position: relative;
// 	border: 3px solid red; 
// 	height: 250px;
// 	width: 170px;  
// }

.bio-image-list-two{
	//display: flex;
	// flex-flow: column; 
	//flex-wrap: wrap;
	//gap: .5em; 
	// max-width: 725px;
	//position: relative;
	// border: 3px solid green;
	// height: 250px;
	// width: 170px; 
}

// .bio-image-list-three{
// 	display: flex;
// 	flex-flow: column; 
// 	flex-wrap: nowrap;
// 	gap: .5em; 
// 	max-width: 725px;
// 	position: relative;
// 	border: 3px solid blue; 
// 	height: 250px;
// 	width: 170px;  
// }

li {
	list-style: none; 
}

// .bio-image-list li {
// 	list-style: none;
// 	position: absolute;
// 	top: 0;
// 	left: 0; 

// }

// .bio-image-list-two li {
// 	list-style: none;
// 	position: absolute;
// 	top: 0;
// 	left: 0; 
// }

// .bio-image-list-three li {
// 	list-style: none;
// 	position: absolute;
// 	top: 0;
// 	left: 0; 
// }
