/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-bio-block {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.bio-image-wrapper{
	display: flex; 
	gap: 1em; 
}

.bio-image-list{
	display: flex;
	flex-flow: column; 
	flex-wrap: nowrap;
	gap: .5em; 
	max-width: 725px;
	position: relative;
	border: 3px solid green;
	height: 250px;
	width: 170px; 
}

.bio-image-list-two{
	display: flex;
	flex-flow: column; 
	flex-wrap: nowrap;
	gap: .5em; 
	max-width: 725px;
	position: relative;
	border: 3px solid red; 
	height: 250px;
	width: 170px;  
}

.bio-image-list-three{
	display: flex;
	flex-flow: column; 
	flex-wrap: nowrap;
	gap: .5em; 
	max-width: 725px;
	position: relative;
	border: 3px solid blue; 
	height: 250px;
	width: 170px;  
}

.bio-image-list li {
	list-style: none;
	position: absolute;
	top: 0;
	left: 0; 

}

.bio-image-list-two li {
	list-style: none;
	position: absolute;
	top: 0;
	left: 0; 
}

.bio-image-list-three li {
	list-style: none;
	position: absolute;
	top: 0;
	left: 0; 
}
